@charset "utf-8";
/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,article,aside,canvas,details,embed,figure,figcaption,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{/* margin:0; *//* padding:0; *//* border:0 */}
html,body{font-family:"Microsoft YaHei","微软雅黑",PingHei,STHeiti,"\5B8B\4F53","SimSun","宋体","Arial";font-size:62.5%;color:#333}
body{font-size:1.4rem;font-size:14px;line-height:125%;}
img{border:0 none;width:auto}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
ul,li{list-style-type:none}
li i {padding-right: 10px}
ol li{
    list-style-type: auto;
}

footer img{
    width:auto;
}

.mt10{ margin-top:10px}
.mt15{ margin-top:15px}
.mt20{ margin-top:20px}
.mb10{ margin-bottom:10px}
.mb15{ margin-bottom:15px}
.mb20{ margin-bottom:20px}
.pt10{ padding-top:10px}
.pt15{ padding-top:15px}
.pt20{ padding-top:20px}
.pb10{ padding-bottom:10px}
.pb15{ padding-bottom:15px}
.pb20{ padding-bottom:20px}

.clearfix::after{clear:both;content:"";display:block;height:0;visibility:hidden}

/*website*/
/*temp01*/
.temp01-wrap-curpage{
    font-size: 1.4rem; font-size:14px;
    height: 40px;
    line-height: 40px;
}
.temp01-wrap-curpage a:hover{
    color:#0074bd;
}
/*temp02*/
.temp02-wrap-R ol{
    border-bottom: 1px solid #bec6e9;
}
.temp02-wrap-R ol i{
    color: #5060b0;
}
.temp02-wrap-R ol a{
    height: 40px;
    line-height: 40px;
}
.temp02-wrap-R ol a:hover{
    color:#0074bd;
}
/*temp03*/
.temp03-wrap-R ol{
    border-bottom: 1px solid #d9d6bf;
    padding: 0 0 8px 0;
}
.temp03-wrap-R ol i{
    color: #bd3232;
}
.temp03-wrap-R ol a:hover{
    color:#b68946;
}

/*Left*/
/*menu-temp01*/
.temp01-wrap-Lmenu .navbar-inverse{
    background:none;
    border:0 none;
}
.temp01-wrap-Lmenu .navbar-header{
    float:none;
}
.temp01-wrap-Lmenu .navbar-collapse{
    padding:0;
}
.temp01-wrap-Lmenu .title{
    background:#0074bd;
    line-height:28px;
    padding:15px 10px;
    text-align:center;
    color:#fff;
    font-size:1.8rem;font-size:18px;
    font-weight:bold;
    border-radius:6px 6px 0 0;
}
.temp01-wrap-Lmenu li{
    background:#f0f0f0;
    border-bottom:1px solid #ddd;
    font-size:1.4rem;font-size:14px;
    padding:15px 25px;
    color: #455caf;
}
@media screen and (max-width:767px){
    .temp01-wrap-Lmenu .title{
        text-align:left;
        padding-left:20px;
    }
    .temp01-wrap-Lmenu .navbar-toggle{
        background:none;
        float:right;
        margin:6px 5px 0 0;
        padding:9px 10px;
        position:relative;
        border:0 none;
    }
    .temp01-wrap-Lmenu .navbar-inverse .navbar-toggle:focus,
    .temp01-wrap-Lmenu .navbar-inverse .navbar-toggle:hover{
        background:#CCC;
    }
}

/*menu-temp02*/
.temp02-wrap-Lmenu{
    float: left;
    margin-right: -15px;
}
.temp02-wrap-Lmenu h3{
    border-top: 3px solid #2b3fa1;
    background: #5060b0;
    padding: 10px 0;
}
.temp02-wrap-Lmenu h3 span{
    color: #fff;
    font-size: 1.8rem; font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 5px 0 10px 60px;
    display: block;
}

.temp02-wrap-LmenuList li{
    margin-bottom: 1px;
    font-size: 1.6rem; font-size: 16px;
}
.temp02-wrap-LmenuList li a{
    display: block;
    background: #eceef8;
    border-left: 8px solid #d5d8e7;
    line-height: 22px;
    padding: 15px 22px;
    position: relative;
}
.temp02-wrap-LmenuList li a .leftNavIcon {
    left: 0;
    padding: 18px 10px;
    position: absolute;
    text-align: center;
    top: 0;
}
.temp02-wrap-LmenuList li a:hover,
.temp02-wrap-LmenuList li.active a{
    display: block;
    background: #f4f6ff;
    color: #5060b0;
    border-left: 8px solid #e3e8fa;
    text-decoration: none;
}
@media (min-width:768px){
    .temp02-wrap-Lmenu{
        width: 33.3333%;
    }
}
@media (min-width:992px){
    .temp02-wrap-Lmenu{
        width: 25%;
    }
}


/*Right*/
/*Content-temp01*/
.temp01-wrap-R{
    background:#fff;
    border:1px solid #dcdcdc;
    box-shadow:0 0 6px rgba(0,0,0,0.1);
    padding:20px 10px 10px 10px;
}
.temp01-wrap-R h3{
    font-size:1.8rem; font-size:18px;
    font-weight:bold;
    border-bottom:2px solid #337ab7;
    padding:0 0 5px 5px;
    margin-bottom:15px;
}
.wrap-list h1 span{
    float:right;
    font-size:1.4rem;font-size:14px;
    line-height:2em;
}
@media screen and (max-width:767px){
    .wrap-list{margin-top:10px}
    .wrap-list h1{font-size:1.6rem;font-size:16px;}
}

/*Content-temp02*/
.temp02-wrap-R{
    background: #f4f6ff;
}
.temp02-wrap-R h3{
    color: #5060b0;
    font-size:1.8rem; font-size:18px;
    font-weight:bold;
    border-left:8px solid #5060b0;
    padding:5px 0 5px 15px;
}


/*Peopel*/
.people-info{
    line-height: 24px;
    margin: 5px 0;
}
.tem01-people-content {
    padding: 10px;
}
.tem01-people-content h4{
    font-size: 1.5rem; font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;

}


/*Tab*/
.temp-02-tit{
    background: #c8e4ef;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}
.temp-02-con{
    background: #fff;
    text-align: left;
    padding-left: 10px;
}



/*Article title-temp02*/
.temp02-wrap-content h2{
    font-size:2.0rem;font-size:20px;
    /*color: #267bc9;*/
    font-weight: bold;
    text-align:center;
    line-height:30px;
    padding:15px 25px 0 25px;
}
.temp02-wrap-content h4{
    font-size:1.6rem;font-size:16px;
    color: #267bc9;
    text-align:center;
    line-height:22px;
    padding:5px 50px;
}
@media screen and (max-width:767px){
    .temp02-wrap-content h2{
        font-size:2.4rem;font-size:24px;
        line-height:30px;
    }
    .temp02-wrap-content h4{
        font-size:1.6rem;font-size:16px;
        line-height:20px;
    }
}

/*fullwidth-img-02*/
.temp02-wrap-content .temp02-maincont h2{
    font-size:1.6rem;font-size:16px;
    color: #267bc9;
    font-weight: bold;
    text-align: left;
    line-height:30px;
    padding: 0 0 5px 0;
}
.temp02-wrap-content .temp02-maincont h4{
    font-size:1.6rem;font-size:16px;
    color: #444;
    font-weight: bold;
    text-align: left;
    line-height:22px;
    padding: 0 0 5px 0;
}
.temp02-wrap-content .temp02-maincont h4 span{
    font-size:1.4rem;font-size:14px;
    font-weight:normal;
}
.temp02-wrap-content .temp02-maincont p{
    padding: 0 0 5px 0;
}

/*Article info-temp02*/
.temp02-info-article{
    padding:5px 0;
    text-align:center;
    margin-top: 10px;
}
.temp02-content-tools{
    overflow:hidden;
    text-align:center;
}
.temp02-info-article span{
    padding:0 15px;
}
.temp02-content-tools a{
    cursor:pointer;
}
.temp02-content-tools a:hover{
    color:#0074bd;
}
.temp02-content-tools .pv{
    color:#898989;
    padding-left:30px;
}



/*FullWidth*/
/*Content-temp01*/
.temp01-wrap-content{
    background:#fff;
    border:1px solid #dcdcdc;
    box-shadow:0 0 6px rgba(0,0,0,0.1);
    margin-bottom:10px;
    padding:25px 50px;
}
@media screen and (max-width:767px){
    .temp01-wrap-content{
        padding:30px 10px;
    }
}
/*Article title-temp01*/
.temp01-wrap-content h2{
    font-size:2.8rem;font-size:28px;
    text-align:center;
    line-height:36px;
}
.temp01-wrap-content h4{
    font-size:1.8rem;font-size:18px;
    text-align:center;
    line-height:24px;
    padding:5px 0;
}
@media screen and (max-width:767px){
    .temp01-wrap-content h2{
        font-size:2.4rem;font-size:24px;
        line-height:30px;
    }
    .temp01-wrap-content h4{
        font-size:1.6rem;font-size:16px;
        line-height:20px;
    }
}
/*Article info-temp01*/
.temp01-info-article{
    color:#898989;
    font-size:1.4rem;font-size:14px;
    padding:5px 0;
    text-align:center;
}
.temp01-content-tools{
    border-bottom:1px solid #dcdcdc;
    height:40px;
    line-height:30px;
    overflow:hidden;
    text-align:center;
}
.temp01-info-article span{
    padding:0 15px;
}
.temp01-content-tools a{
    cursor:pointer;
}
.temp01-content-tools a:hover{
    color:#0074bd;
}
.temp01-content-tools .pv{
    color:#898989;
    padding-left:30px;
}

/*Article*/
.cas-article{
    font-size:1.6rem;font-size:16px;
    line-height:200%;
    margin:0 5%;
    padding:12px 0 0;
}
.cas-article p{
    line-height:1.8em;
    margin:15px 0 0;
}
.cas-article .editor{
    color:#898989;
    font-size:1.2rem;
    font-size:12px;
    padding:5px 0;
    text-align: left;
}
.cas-article img,
.cas-article p img,
.cas-article table img{
    max-width:800px;
    width:auto;
    padding:.5em 0;
    display: inline;
}
.cas-article table{
    margin:0 auto;
}
@media screen and (max-width:767px){
    .cas-article p img,
    .cas-article table img{
        max-width:680px;
        width:100%;
        height:auto;
    }
}
@media screen and (max-width:480px){
    .cas-article p img,
    .cas-article table img{
        max-width:360px;
        width:100%;
    }
}



/*Appendix-temp01*/
.cas-wrap-appendix{
    border-top: 1px solid #267bc9;
    padding:10px;
    margin:20px;
}
.cas-wrap-appendix h6{
    color:#0068b7;
    font-size:1.6rem;font-size:16px;
    font-weight:bold;
    position:relative;
    line-height:35px;
}
.cas-wrap-appendix li a{
    line-height:24px;
    list-style:outside none none;
    padding:4px 0 4px 15px;
}
.cas-wrap-appendix li a:hover{
    color:#0074bd;
}