@charset "utf-8";
/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}
html,body{font-family:"Microsoft YaHei","微软雅黑",PingHei,STHeiti,"\5B8B\4F53","SimSun","宋体","Arial";font-size:62.5%;color:#333}
body{font-size:1.4rem;font-size:14px;line-height:125%;}
img{border:0 none;width:auto}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
ul,li{list-style-type:none}
li i {padding-right: 10px}

.mt10{ margin-top:10px}
.mt15{ margin-top:15px}
.mt20{ margin-top:20px}
.mb10{ margin-bottom:10px}
.mb15{ margin-bottom:15px}
.mb20{ margin-bottom:20px}

.pd0{ padding: 0}
.pt10{ padding-top:10px}
.pt15{ padding-top:15px}
.pt20{ padding-top:20px}
.pb10{ padding-bottom:10px}
.pb15{ padding-bottom:15px}
.pb20{ padding-bottom:20px}
.fl{ float: left;}
.fr{ float: right;}
.hd{overflow: hidden;}
.bg-fff{background: #fff;}

footer img{
    width: auto;
}
img{
    width: auto;
    height: auto;
    border: 0 none;
}

.clearfix::after{clear:both;content:"";display:block;height:0;visibility:hidden}

/*website*/
/*temp01*/
.temp01-wrap-curpage{
    font-size: 1.4rem; font-size:14px;
    height: 40px;
    line-height: 40px;
}
.temp01-wrap-curpage a:hover{
    color:#0074bd;
}

/*temp02*/
.temp02-wrap-R ol{
    border-bottom: 1px solid #bec6e9;
}
.temp02-wrap-R ol i{
    color: #5060b0;
}
.temp02-wrap-R ol a{
    height: 40px;
    line-height: 40px;
}
.temp02-wrap-R ol a:hover{
    color:#0074bd;
}

/*temp03*/
.temp03-wrap-R ol{
    border-bottom: 1px solid #d9d6bf;
    padding: 0 0 8px 0;
}
.temp03-wrap-R ol i{
    color: #bd3232;
}
.temp03-wrap-R ol a:hover{
    color:#b68946;
}


/*Left*/
/*menu-temp01*/
.temp01-wrap-Lmenu{
    z-index: 2;
}
.temp01-wrap-Lmenu .navbar-inverse{
    background:none;
    border:0 none;
}
.temp01-wrap-Lmenu .navbar-header{
    float:none;
}
.temp01-wrap-Lmenu .navbar-collapse{
    padding:0;
}
.temp01-wrap-Lmenu .title{
    background:#0074bd;
    line-height:28px;
    padding:15px 10px;
    text-align:center;
    color:#fff;
    font-size:1.8rem;font-size:18px;
    font-weight:bold;
    border-radius:6px 6px 0 0;
}
.temp01-wrap-Lmenu li{
    background:#f0f0f0;
    border-bottom:1px solid #ddd;
    font-size:1.4rem;font-size:14px;
    padding:15px 25px;
    color: #455caf;
}
@media screen and (max-width:767px){
    .temp01-wrap-Lmenu .title{
        text-align:left;
        padding-left:20px;
    }
    .temp01-wrap-Lmenu .navbar-toggle{
        background:none;
        float:right;
        margin:6px 5px 0 0;
        padding:9px 10px;
        position:relative;
        border:0 none;
    }
    .temp01-wrap-Lmenu .navbar-inverse .navbar-toggle:focus,
    .temp01-wrap-Lmenu .navbar-inverse .navbar-toggle:hover{
        background:#CCC;
    }
}

/*menu-temp02*/
.temp02-wrap-Lmenu{
    float: left;
    margin-right: -15px;
}
.temp02-wrap-Lmenu h3{
    border-top: 3px solid #2b3fa1;
    background: #5060b0;
    padding: 10px 0;
}
.temp02-wrap-Lmenu h3 span{
    color: #fff;
    font-size: 1.8rem; font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 5px 0 10px 60px;
    display: block;
}

.temp02-wrap-LmenuList li{
    margin-bottom: 1px;
    font-size: 1.6rem; font-size: 16px;
}
.temp02-wrap-LmenuList li a{
    display: block;
    background: #eceef8;
    border-left: 8px solid #d5d8e7;
    line-height: 22px;
    padding: 15px 22px;
    position: relative;
}
.temp02-wrap-LmenuList li a .leftNavIcon{
    left: 0;
    padding: 18px 10px;
    position: absolute;
    text-align: center;
    top: 0;
}
.temp02-wrap-LmenuList li a:hover,
.temp02-wrap-LmenuList li.active a{
    display: block;
    background: #f4f6ff;
    color: #5060b0;
    border-left: 8px solid #e3e8fa;
    text-decoration: none;
}
@media (min-width:768px){
    .temp02-wrap-Lmenu{
        width: 33.3333%;
    }
}
@media (min-width:992px){
    .temp02-wrap-Lmenu{
        width: 25%;
    }
}

/*menu-temp03*/
.temp03-wrap-Lmenu .title{
    background: url(http://api.cas.cn/template/images/ico_whitearrow.png) no-repeat 10px 15px #ed5f01;
    border-radius:3px 3px 0 0;
    color:#fff;
    font-size:1.8rem;font-size:18px;
    font-weight:bold;
    padding:11px 8px 11px 35px;
    line-height:28px;
}
.temp03-wrap-Lmenu ul{
    border: 1px solid #d9d9d9;
    border-top: 0 none;
    border-radius:0 0 3px 3px;
    padding:0 10px 10px 10px;
}
.temp03-wrap-Lmenu li{
    border-bottom: 1px solid #d9d6bf;
    padding-left: 5px;
    font-size: 1.6rem; font-size: 16px;
    padding: 8px 5px;
}
.temp03-wrap-Lmenu li i{
    color: #BD3232;
    font-size: 1.8rem; font-size: 18px;
    padding-top: 2px;
}
.temp03-wrap-LmenuList li a{
    display: block;
    line-height: 24px;
    padding: 0 0 0 18px;
    position: relative;
}
.temp03-wrap-LmenuList li a:hover,
.temp03-wrap-LmenuList li.active a{
    color: #b68946;
    font-weight: bold;
}
.temp03-wrap-LmenuList li a .leftNavIcon {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
}


/*Right*/
/*Content-temp01*/
.temp01-wrap-R{
    background:#fff;
    border:1px solid #dcdcdc;
    box-shadow:0 0 6px rgba(0,0,0,0.1);
    padding:20px 10px 10px 10px;
}
.temp01-wrap-R h3{
    font-size:1.8rem; font-size:18px;
    font-weight:bold;
    border-bottom:2px solid #337ab7;
    padding:0 0 5px 5px;
    margin-bottom:15px;
}
.wrap-list h1 span{
    float:right;
    font-size:1.4rem;font-size:14px;
    line-height:2em;
}
@media screen and (max-width:767px){
    .wrap-list{margin-top:10px}
    .wrap-list h1{font-size:1.6rem;font-size:16px;}
}

/*Content-temp02*/
.temp02-wrap-R{
    background: #f4f6ff;
}
.temp02-wrap-R h3{
    color: #5060b0;
    font-size:1.8rem; font-size:18px;
    font-weight:bold;
    border-left:8px solid #5060b0;
    padding:5px 0 5px 15px;
}
.temp02-wrap-R h3 span a{
    float: right;
    font-size: 1.4rem; font-size: 14px;
    font-weight: normal;
    color: #5060b0;
    line-height: 22px;
}
.temp02-wrap-R h3 span a:hover{
    color: #041f62;
}

/*Content-temp03*/
.temp03-wrap-R h3{
    background: #F6F6F6;
    color: #bd3232;
    font-size:1.8rem; font-size:18px;
    font-weight:bold;
    line-height: 40px;
    padding-left:15px;
}
.temp03-wrap-R h3 a{
    color: #bd3232;
}
.temp03-wrap-R h3 i{
    font-size:2.2rem; font-size:22px;
    padding-right: 10px;
}
@media screen and (max-width:480px){
    .temp03-wrap-R{
        padding:0;
    }
}

/*list-font-temp01*/
.temp01-wrap-list-font{
    border-bottom:1px dashed #b2b2b2;
}
.temp01-wrap-list-font li{
    height:auto;
    line-height:22px;
    margin:0 auto;
    padding:4px 80px 4px 17px;
    position:relative;
}
.temp01-wrap-list-font .list-ico{
    float:left;
    line-height:26px;
    padding-right:5px;
}
.temp01-wrap-list-font a{
    display:block;
    padding-left:5px;
}
.temp01-wrap-list-font a:hover{
    color:#0074bd;
}
.temp01-wrap-list-font .time{
    bottom:0;
    color:#999;
    display:block;
    float:none;
    font-size:1.2rem; font-size:12px;
    position:absolute;
    right:0;
    text-align:center;
    width:80px;
}
@media screen and (max-width:991px){
    .temp01-wrap-list-fontt li{padding:4px 12px 4px 17px}
    .temp01-wrap-list-font li a{display:inline;margin-right:0px}
    .temp01-wrap-list-font li .time{display:inline;position:static}
}
@media screen and (max-width:480px){
    .temp01-wrap-list-font li{
        height:auto;
        line-height:17px;
        margin:0 auto;
        padding:4px 80px 4px 17px;
        position:relative;
    }
}

/*list-font-temp02*/
.temp02-wrap-list-font{
    border-bottom:1px solid #bec6e9;
}
.temp02-wrap-list-font li{
    background: url(http://api.cas.cn/template/images/ico_square_01.gif) no-repeat 15px 15px;
    height:auto;
    line-height:22px;
    margin:0 auto;
    padding:4px 80px 4px 22px;
    position:relative;
}
.temp02-wrap-list-font .list-ico{
    float:left;
    line-height:26px;
    padding-right:5px;
}
.temp02-wrap-list-font a{
    display:block;
    padding-left:5px;
}
.temp02-wrap-list-font a:hover{
    color:#0074bd;
}
.temp02-wrap-list-font .time{
    bottom:0;
    color:#999;
    display:block;
    float:none;
    font-size:1.2rem; font-size:12px;
    position:absolute;
    right:0;
    text-align:center;
    width:80px;
}

/*list-font-temp03*/
.temp03-wrap-list-font li{
    background: url(http://api.cas.cn/template/images/ico_greypoint.png) no-repeat 0 15px;
    border-bottom: 1px dashed #c5c5c5;
    font-size: 1.6rem; font-size: 16px;
    height:auto;
    line-height:22px;
    margin:0 auto;
    padding:8px 90px 8px 15px;
    position:relative;
}
.temp03-wrap-list-font .time{
    bottom:0;
    color:#999;
    display:block;
    float:none;
    font-size:1.4rem; font-size:14px;
    position:absolute;
    right:0;
    top:10px;
    text-align:center;
    width:90px;
}
.temp03-wrap-list-font li a:hover{
    color: #0082e7;
}



/*list-img-temp01*/
.temp01-wrap-R h5{
    padding:0 10px;
    margin-bottom:15px;
    line-height:18px;
    text-align:center;
}
.temp01-wrap-R h5 a:hover{
    color:#0074bd;
}

/*list-img-temp02*/
.temp02-wrap-list-img{
    border-bottom:1px solid #bec6e9;
}
.temp02-wrap-list-img .temp02-content-people{
    background: #fff;
}
.temp02-wrap-list-img .temp02-content-people a{
    color: #267bc9;
}
.temp02-wrap-list-img .temp02-content-people h5{
    font-size: 1.6rem; font-size: 16px;
    font-weight: bold;
    padding: 10px;
    line-height: 22px
}
.temp02-wrap-list-img .temp02-content-people span{
    padding: 0 0px 15px 10px;
    display: block;
    line-height: 18px;
}
@media screen and (max-width:481px){
    .temp02-wrap-list-img .temp02-content-people h5{
        font-size: 1.4rem; font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        padding: 6px;
    }
    .temp02-wrap-list-img .temp02-content-people span{
        font-size: 1.2rem; font-size: 12px;
        line-height: 16px;
        padding: 0 0px 10px 6px;
        display: block;
    }
}


/*list-imgfont-02*/
.temp02-wrap-list-imgfont{
    border-bottom:1px solid #bec6e9;
}
.temp02-wrap-list-imgfont h4 a{
    color: #267bc9;
    font-size: 1.6rem; font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}
.temp02-wrap-list-imgfont span{
    color: #8f8f8f;
    line-height: 32px;
}
.temp02-wrap-list-imgfont p{
    line-height: 22px;
    text-indent: 2em;
}


/*list-imgfont-03*/
.temp03-wrap-list-imgfont{
    border-bottom:1px solid #bec6e9;
}
.temp03-wrap-list-imgfont img{
    margin: 0;
}
.temp03-wrap-list-imgfont h5{
    border-bottom: 1px dotted #333;
    padding: 0;
}
.temp03-wrap-list-imgfont h5 a{
    color: #267bc9;
    font-size: 1.6rem; font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}
.temp03-wrap-list-imgfont span{
    color: #8f8f8f;
    line-height: 32px;
}
.temp03-wrap-list-imgfont p{
    line-height: 22px;
    text-indent: 2em;
}


/*list-people-temp01*/
.temp01-wrap-list-people h4 span {
    background: #5284dc none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
.temp01-wrap-list-people li{
    background: url(http://api.cas.cn/template/images/ico_square_01.gif) no-repeat 3px 12px;
    line-height:26px;
}

/*list-people-temp02*/
.temp02-wrap-list-people{
    border-bottom:1px solid #bec6e9;
}
.temp02-wrap-list-people .temp02-content-people{
    border: 1px solid #cddcea;
    background: #fff;
}
.temp02-wrap-list-people .temp02-content-people a{
    color: #1e63b0;
}
.temp02-wrap-list-people .temp02-content-people h5{
    font-size: 1.6rem; font-size: 16px;
    padding: 10px;
}
.temp02-wrap-list-people .temp02-content-people span{
    padding: 0 0px 15px 10px;
    display: block;
}


/*page-temp01*/
.temp01-page {
    float: left;
    margin-left: -1px;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
}
.temp01-page-inactive {
    background: #fff;
    border: 1px solid #ddd;
    color: #337ab7;
}
.temp01-page-active {
    background: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
    cursor: default;
    z-index: 2;
}

/*page-temp02*/
.temp02-page {
    float: left;
    margin-left: -1px;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
}
.temp02-page-inactive {
    background: #3287da;
    border: 1px solid #3f65be;
    color: #f4f6ff;
}
.temp02-page-active {
    background: #1555ba;
    border: 1px solid #3f65be;
    color: #fff;
    cursor: default;
    z-index: 2;
}

/*page-temp03*/
.temp03-page {
    float: left;
    margin-left: -1px;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
}
.temp03-page-inactive {
    background: #fff;
    border: 1px solid #c7bf80;
    color: #ed5f01;
}
.temp03-page-active {
    background: #ed5f01;
    border: 1px solid #c7bf80;
    color: #fff;
    cursor: default;
    z-index: 2;
}


/*OnePage-temp01*/
.temp01-wrap-R h2{
    font-size:2.8rem;font-size:28px;
    text-align:center;
    line-height:36px;
}
.temp01-wrap-R h4{
    font-size:1.8rem;font-size:18px;
    text-align:center;
    line-height:24px;
    padding:5px 0;
}
@media screen and (max-width:767px){
    .temp01-wrap-R h2{
        font-size:2.4rem;font-size:24px;
        line-height:30px;
    }
    .temp01-wrap-R h4{
        font-size:1.6rem;font-size:16px;
        line-height:20px;
    }
}
.temp01-content-tools{
    border-bottom:1px solid #dcdcdc;
    height:40px;
    line-height:30px;
    overflow:hidden;
    text-align:center;
}
.temp01-info-article span{
    padding:0 15px;
}
.temp01-content-tools a{
    cursor:pointer;
}
.temp01-content-tools a:hover{
    color:#0074bd;
}
/*OnePage-temp02*/
.temp02-wrap-R h2{
    /* color: #267bc9; */
    font-size: 2.0rem;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    padding: 15px 25px 0;
    text-align: center;
}
.temp02-wrap-R h4{
    color: #267bc9;
    ont-size: 1.6rem;font-size: 16px;
    line-height: 22px;
    padding: 5px 50px;
    text-align: center;
}
.temp02-content-tools{
    line-height:30px;
    overflow:hidden;
    text-align:center;
}
.temp02-info-article span{
    padding:0 15px;
}
.temp02-content-tools a{
    cursor:pointer;
}
.temp02-content-tools a:hover{
    color:#0074bd;
}


/*TabList*/
.temp02-table-search {
    background: #fff;
}
.temp02-table-search .form-button {
    background: #00238a none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 2px 2px 0;
    color: #fff;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    width: 91px;
}
.temp02-table-info {
    background: #f2f7f1;
}
.temp02-table-info th{
    background: #C8E4EF;
    text-align: center;
}



/*Sitemap*/
/*Sitemap-temp01*/
.sitemap-01 h3{
    color: #5060b0;
    font-size:1.8rem; font-size:18px;
    font-weight:bold;
    border-left:8px solid #5060b0;
    padding:5px 0 5px 15px;
}
.sitemap-01 section{
    border: 1px solid #c1cae9;
    padding: 1px;
    margin-top: 15px;
}
.sitemap-01 section h4{
    background: #dfe4f8;
    color: #364995;
    font-size:1.6rem; font-size:16px;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
}
.sitemap-01 section i{
    padding-right: 10px;
}
.sitemap-01 section ul{
    padding: 0 10px 10px 10px;
}
.sitemap-01 section li{
    color: #364995;
    font-size:1.4rem; font-size:14px;
    line-height: 22px;
    padding: 5px 10px;
}

/*Sitemap-temp02*/
.sitemap-02 h3{
    color: #5060b0;
    font-size:1.8rem; font-size:18px;
    font-weight:bold;
    border-left:8px solid #5060b0;
    padding:5px 0 5px 15px;
}
.sitemap-02 section{
    margin-top: 15px;
}
.sitemap-02 section h4{
    background: #dfe4f8;
    height: 38px;
    line-height: 38px;
    font-size:1.6rem; font-size:16px;
    font-weight: bold;
}
.sitemap-02 section h4 span{
    background: #344a96;
    padding: 0 30px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    color: #fff;
}
.sitemap-02 section i{
    padding-right: 10px;
}
.sitemap-02 section ul{
    padding: 10px 10px 0 10px;
}
.sitemap-02 section li{
    color: #364995;
    font-size:1.4rem; font-size:14px;
    line-height: 22px;
    padding: 5px 10px;
}


/*Article*/
.cas-article{
    font-size:1.6rem;font-size:16px;
    line-height:200%;
    margin:0 5%;
    padding:12px 0 0;
}
.cas-article p{
    line-height:1.8em;
    margin:15px 0 0;
}
.cas-article .editor{
    color:#898989;
    font-size:1.2rem;font-size:12px;
    padding:5px 0;
    text-align:right;
}
.cas-article img,
.cas-article p img,
.cas-article table img{
    max-width:800px;
    width:auto;
    padding:.5em 0;
    display: inline;
}
.cas-article table{
    margin:0 auto;
}
@media screen and (max-width:767px){
    .cas-article p img,
    .cas-article table img{
        max-width:680px;
        width:100%;
        height:auto;
    }
}
@media screen and (max-width:480px){
    .cas-article p img,
    .cas-article table img{
        max-width:360px;
        width:100%;
    }
}