<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.demo.mapper.TbLeaveMapper">
    
    <resultMap type="TbLeave" id="TbLeaveResult">
        <result property="id"    column="id"    />
        <result property="instId"    column="inst_id"    />
        <result property="comment"    column="comment"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTbLeaveVo">
        select id, inst_id, comment, status, del_flag, create_by, create_time, update_by, update_time from tb_leave
    </sql>

    <select id="selectTbLeaveList" parameterType="TbLeave" resultMap="TbLeaveResult">
        <include refid="selectTbLeaveVo"/>
        <where>  
            <if test="comment != null  and comment != ''"> and comment like concat('%', #{comment}, '%')</if>
        </where>
    </select>
    
    <select id="selectTbLeaveById" parameterType="Long" resultMap="TbLeaveResult">
        <include refid="selectTbLeaveVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbLeave" parameterType="TbLeave" useGeneratedKeys="true" keyProperty="id">
        insert into tb_leave
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="instId != null">inst_id,</if>
            <if test="comment != null">comment,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="instId != null">#{instId},</if>
            <if test="comment != null">#{comment},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTbLeave" parameterType="TbLeave">
        update tb_leave
        <trim prefix="SET" suffixOverrides=",">
            <if test="instId != null">inst_id = #{instId},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbLeaveById" parameterType="Long">
        delete from tb_leave where id = #{id}
    </delete>

    <delete id="deleteTbLeaveByIds" parameterType="String">
        delete from tb_leave where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>