<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.example.mapper.RxDemoMapper">
    
    <resultMap type="RxDemo" id="RxDemoResult">
        <result property="id"    column="id"    />
        <result property="demoName"    column="demo_name"    />
        <result property="demoSex"    column="demo_sex"    />
        <result property="demoBirth"    column="demo_birth"    />
    </resultMap>

    <sql id="selectRxDemoVo">
        select id, demo_name, demo_sex, demo_birth from rx_demo
    </sql>

    <select id="selectRxDemoList" parameterType="RxDemo" resultMap="RxDemoResult">
        <include refid="selectRxDemoVo"/>
        <where>  
            <if test="demoName != null  and demoName != ''"> and demo_name like concat('%', #{demoName}, '%')</if>
            <if test="demoSex != null "> and demo_sex = #{demoSex}</if>
            <if test="demoBirth != null "> and demo_birth = #{demoBirth}</if>
        </where>
    </select>
    
    <select id="selectRxDemoById" parameterType="Long" resultMap="RxDemoResult">
        <include refid="selectRxDemoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRxDemo" parameterType="RxDemo">
        insert into rx_demo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="demoName != null">demo_name,</if>
            <if test="demoSex != null">demo_sex,</if>
            <if test="demoBirth != null">demo_birth,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="demoName != null">#{demoName},</if>
            <if test="demoSex != null">#{demoSex},</if>
            <if test="demoBirth != null">#{demoBirth},</if>
         </trim>
    </insert>

    <update id="updateRxDemo" parameterType="RxDemo">
        update rx_demo
        <trim prefix="SET" suffixOverrides=",">
            <if test="demoName != null">demo_name = #{demoName},</if>
            <if test="demoSex != null">demo_sex = #{demoSex},</if>
            <if test="demoBirth != null">demo_birth = #{demoBirth},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRxDemoById" parameterType="Long">
        delete from rx_demo where id = #{id}
    </delete>

    <delete id="deleteRxDemoByIds" parameterType="String">
        delete from rx_demo where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>