<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.cms.mapper.BizAttributeMapper">
    
    <resultMap type="BizAttribute" id="BizAttributeResult">
        <result property="id"    column="id"    />
        <result property="ruleId"    column="rule_id"    />
        <result property="attributeName"    column="attribute_name"    />
        <result property="attributeStatus"    column="attribute_status"    />
        <result property="attributeOrder"    column="attribute_order"    />
    </resultMap>

    <sql id="selectBizAttributeVo">
        select id, rule_id, attribute_name, attribute_status, attribute_order from biz_attribute
    </sql>

    <select id="selectBizAttributeList" parameterType="BizAttribute" resultMap="BizAttributeResult">
        <include refid="selectBizAttributeVo"/>
        <where>  
            <if test="ruleId != null "> and rule_id = #{ruleId}</if>

        </where>
    </select>
    
    <select id="selectBizAttributeById" parameterType="Long" resultMap="BizAttributeResult">
        <include refid="selectBizAttributeVo"/>
        where id = #{id}
    </select>
    <select id="getRuleAttrByColumnId" parameterType="Long" resultMap="BizAttributeResult">
        select b.* from biz_column_rule a left join biz_attribute b on a.rule_id =  b.rule_id where column_id =#{columnId}
    </select>

    <insert id="insertBizAttribute" parameterType="BizAttribute" useGeneratedKeys="true" keyProperty="id">
        insert into biz_attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">rule_id,</if>
            <if test="attributeName != null">attribute_name,</if>
            <if test="attributeStatus != null">attribute_status,</if>
            <if test="attributeOrder != null">attribute_order,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">#{ruleId},</if>
            <if test="attributeName != null">#{attributeName},</if>
            <if test="attributeStatus != null">#{attributeStatus},</if>
            <if test="attributeOrder != null">#{attributeOrder},</if>
         </trim>
    </insert>

    <update id="updateBizAttribute" parameterType="BizAttribute">
        update biz_attribute
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleId != null">rule_id = #{ruleId},</if>
            <if test="attributeName != null">attribute_name = #{attributeName},</if>
            <if test="attributeStatus != null">attribute_status = #{attributeStatus},</if>
            <if test="attributeOrder != null">attribute_order = #{attributeOrder},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizAttributeById" parameterType="Long">
        delete from biz_attribute where id = #{id}
    </delete>

    <delete id="deleteBizAttributeByIds" parameterType="String">
        delete from biz_attribute where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>