<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.cms.mapper.BizColumnRuleMapper">
    
    <resultMap type="BizColumnRule" id="BizColumnRuleResult">
        <result property="id"    column="id"    />
        <result property="columnId"    column="column_id"    />
        <result property="ruleId"    column="rule_id"    />
    </resultMap>

    <sql id="selectBizColumnRuleVo">
        select id, column_id, rule_id from biz_column_rule
    </sql>

    <select id="selectBizColumnRuleList" parameterType="BizColumnRule" resultMap="BizColumnRuleResult">
        <include refid="selectBizColumnRuleVo"/>
        <where>  
            <if test="columnId != null "> and column_id = #{columnId}</if>
            <if test="ruleId != null "> and rule_id = #{ruleId}</if>
        </where>
    </select>
    
    <select id="selectBizColumnRuleById" parameterType="Long" resultMap="BizColumnRuleResult">
        <include refid="selectBizColumnRuleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizColumnRule" parameterType="BizColumnRule" useGeneratedKeys="true" keyProperty="id">
        insert into biz_column_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="columnId != null">column_id,</if>
            <if test="ruleId != null">rule_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="columnId != null">#{columnId},</if>
            <if test="ruleId != null">#{ruleId},</if>
         </trim>
    </insert>

    <update id="updateBizColumnRule" parameterType="BizColumnRule">
        update biz_column_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="columnId != null">column_id = #{columnId},</if>
            <if test="ruleId != null">rule_id = #{ruleId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizColumnRuleById" parameterType="Long">
        delete from biz_column_rule where id = #{id}
    </delete>

    <delete id="deleteBizColumnRuleByIds" parameterType="String">
        delete from biz_column_rule where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteBizArticleRuleByArticleIds" parameterType="String">
        delete from biz_column_rule where  column_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>