<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongxin.cms.mapper.BizPictureMapper">
    
    <resultMap type="BizPicture" id="BizPictureResult">
        <result property="id"    column="id"    />
        <result property="articleId"    column="article_id"    />
        <result property="url"    column="url"    />
        <result property="picDescribe"    column="pic_describe"    />
    </resultMap>

    <sql id="selectBizPictureVo">
        select id, article_id, url, pic_describe from biz_picture
    </sql>

    <select id="selectBizPictureList" parameterType="BizPicture" resultMap="BizPictureResult">
        <include refid="selectBizPictureVo"/>
        <where>
        1 = 1
         <if test="articleId != null "> and article_id = #{articleId}</if>
        </where>
    </select>

</mapper>